@{
    ViewData["Title"] = "Thông tin tài khoản";
}

<div class="mt-5">
    <div class="row">
        <!-- Cột thông tin sinh viên -->
        <div class="container">
            <div class="thongtinsv page-content p-5 rounded">
                <div class="text-center mb-4">
                    <h1 class="display-4">Thông tin sinh viên</h1>
                </div>
                <div class="mb-4">
                    <h5>Họ và tên:</h5>
                    <p class="text-warning">@ViewBag.HoTen</p>
                </div>
                <div class="mb-4">
                    <h5>Giới tính:</h5>
                    <p class="text-warning">@ViewBag.GioiTinh</p>
                </div>
                <div class="mb-4">
                    <h5>Ngày sinh:</h5>
                    <p class="text-warning">@ViewBag.NgaySinh</p>
                </div>
                <div class="mb-4">
                    <h5>Địa chỉ:</h5>
                    <p class="text-warning">@ViewBag.DiaChi</p>
                </div>
                <div class="mb-4">
                    <h5>Khoa:</h5>
                    <p class="text-warning">@ViewBag.Khoa</p>
                </div>
                <div class="mb-4">
                    <h5>Lớp:</h5>
                    <p class="text-warning">@ViewBag.Lop</p>
                </div>
            </div>
        </div>

        <!-- Cột thông tin tài khoản -->
        <div class="container">
            <div class="thongtintk page-content p-5 rounded">
                <div class="text-center mb-4">
                    <h1 class="display-4">Thông tin tài khoản</h1>
                </div>
                <div class="mb-4 text-center">
                    <h5>Email tài khoản:</h5>
                    <p class="text-warning">@ViewBag.Email</p>
                </div>
                <form asp-controller="TaiKhoan" asp-action="DangXuat" method="post" class="text-center">
                    <button type="submit" class="btn btn-primary btn-lg">Đăng xuất</button>
                </form>
            </div>
        </div>
    </div>
</div>
