@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model IEnumerable<QuanLyDangKyHocPhanSV.Models.SinhVien>

@{
    ViewData["Title"] = "SinhVien";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h3 id="title" class="text-center fw-bold">Tài Khoản Sinh Viên</h3>
<h6>@TempData["Message"]</h6>
<p>
    <a asp-action="ThemSinhVien">Create New</a>
</p>
<table class="table" id="datatablesSimple">
    <thead>
        <tr>
            <th>
                Mã sinh viên
            </th>
            <th>
                Tên sinh viên
            </th>
            <th>
                Ngày sinh
            </th>
            <th>
                Giới tính
            </th>
            <th>
                Email
            </th>
            <th>
                Khoa
            </th>
            <th>
                Lớp
            </th>
            <th>
                Mật khẩu
            </th>
            <th>
                Vai trò
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MaSv)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenSv)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgaySinh)
            </td>
            <td>
                    @if (item.GioiTinh == 1)
                    {
                        @:Nam
                    }
                    else
                    {
                        @:Nữ
                    }
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Khoa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lop)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MatKhau)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoleAccount)
            </td>
            <td>
                <a asp-action="EditSinhVien" asp-route-maSV="@item.MaSv">Edit</a> |
                @* <a asp-action="Details" asp-route-id="@item.MaSv">Details</a> | *@
                <a asp-action="XoaSinhVien" asp-route-maSV="@item.MaSv">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<script src="~/LayoutAdmin/js/datatables-simple-demo.js"></script>