@model IEnumerable<QuanLyDangKyHocPhanSV.Models.VThongTinDangKyMonHoc>

@{
    ViewData["Title"] = "List Đăng ký môn học";
}

<div class="page-content">
    <h1>List sinh viên đã Đăng ký môn học</h1>

    @if (Model != null && Model.Any())
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Mã Lớp</th>
                    <th>Mã Sinh Viên</th>
                    <th>Mã Giảng Viên</th>
                    <th>Tên Giảng Viên</th>
                    <th>Mã Môn Học</th>
                    <th>Tên Môn Học</th>
                    <th>Số Tiết</th>
                    <th>Số Tín Chỉ</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.MaLop</td>
                        <td>@item.MaSV</td>
                        <td>@item.MaGV</td>
                        <td>@item.TenGV</td>
                        <td>@item.MaMH</td>
                        <td>@item.TenMH</td>
                        <td>@item.SoTiet</td>
                        <td>@item.SoTinChi</td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>Không có sinh viên nào đã đăng ký môn học.</p>
    }
</div>
