<table class="table page-content">
    <thead>
        <tr>
            <th>Id môn học</th>
            <th>tên môn học</th>
            <th>số tín chỉ</th>
            <th>số tiết</th>
            <th>thời khóa biểu</th>
        </tr>
    </thead>
    <tbody>
        @model List<MonHoc>
        @foreach (var monHoc in Model)
        {
            <tr>
                <td>@monHoc.MaMh</td>
                <td>@monHoc.TenMh</td>
                <td>@monHoc.SoTinChi</td>
                <td>@monHoc.SoTiet</td>
                <td>@monHoc.ThoiKhoaBieu</td>
            </tr>
        }
    </tbody>
</table>
