<div class="text-center">
    <h1> ĐĂNG KÝ MÔN HỌC</h1>
</div>
<table class="table table-bordered page-content">
    <thead>
        <tr>
            <th>Id môn học</th>
            <th>tên môn học</th>
            <th>số tín chỉ</th>
            <th>số tiết</th>
            <th>thời khóa biểu</th>
            <th>Chức năng</th>
        </tr>
    </thead>
    <tbody>
        @model List<MonHoc>
        @foreach (var monHoc in Model)
        {
            <tr>
                <td>@monHoc.MaMh</td>
                <td>@monHoc.TenMh</td>
                <td>@monHoc.SoTinChi</td>
                <td>@monHoc.SoTiet</td>
                <td>@monHoc.ThoiKhoaBieu</td>
                <td> <a href="#" class="btn btn-warning">Thêm môn học</a></td>
            </tr>
        }
    </tbody>
</table>
